
@{
    ViewBag.Title = "Dashboard";
}
<br />
<h2>Admin-панель</h2>
<div class="jumbotron">
    <h1 class="display-4">Привет, администратор!</h1>
    <p class="lead">Вы перешли на административную часть сайта.</p>
    <hr class="my-4">
    <p>Здесь вы можете добавлять и удалять товары, просматривать список заказов.</p>
    @*<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>*@
</div>

